html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1 {
    text-align: center;
    background-color: blanchedalmond;
    padding: 1rem;
    width: 100%;
}

img {
    max-width: 200px;
    margin: 1rem;
}

.yerbas {
    display: flex;
    flex-wrap: wrap;
}

.yerbas>* {
    flex: 1 1 200px;
    margin: 1rem;
}

.yerba {
    background-color: lightskyblue;
    color: yellow;
    font-size: 125%;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-out;
    border-radius: 5%;
}

.yerba:hover {
    opacity: 0.9;
    transform: scale(0.9);
}

.taco img {
    max-width: 100%;
    height: auto;
}

.taco figcaption {
    padding: 1rem;
}